.pokeCard {
    align-items: center;
    text-transform: capitalize;
}

.pokeCard ul {
    list-style-type: none;
    padding-left: 0;
}

.pokeCapture {
    width: 100%;
}

.cardImg img{
    width:"40px"!important; 
}


#mainbody{
    position:relative;
}




.cardImg{
    width:200px;
    height:auto;
}

.pokemonSkill,
#pokedex h2 {
    text-transform: capitalize;
}

#pokedex {
    overflow-y: scroll;
    max-height:100vh;
    background-color:black;
    color:white;
}

.pokemonCard {
    margin-bottom: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.pokeMoves{
    width:100%;
    font-family: 'Inconsolata', monospace;

}
.pokedexTitle{
    text-align:center;
}

#pokedex{
    font-family: 'Chakra Petch', sans-serif;
}

body{
   
    font-family: 'Inconsolata', monospace !important;
}

.pokeCp{
    font-family: 'Inconsolata', monospace !important;
}

.offcanvas{
    background-image: url("squirtle.gif")!important;
    background-size: cover;
}

#pokemonhero{
    font-family: 'Chakra Petch', sans-serif;
    color:gold;
}


#cta{
    background: rgba(128, 128, 128, 0.3);
    color:gold;
    height:388px;
    width:500px;
    position:relative;
}

 #button{
    width: 100px;
    height: 100px;
    padding: 13px 18px;
    border-radius: 60px;
    font-size: 15px;
    text-align: center;
}

