.cardImg img{
    width:"40px"!important; 
}


#mainbody{
    position:relative;
}



#pokedexBtn{
    position:absolute;
    z-index:10000;
    left:0;
    top:10%;
}

.pokedexImg{
    width:200px;
    height:auto;
}

